.header {
    width: 100%;
    height: 4rem;
    background-color: var(--color-white-neutral);
    display: flex;
    padding: 1.25rem 0.75rem;
    box-shadow: var(--box-shadow-custom);
    position: sticky;

    & .logo {
        height: 2.18rem;
    }
}


@media (min-width: 1024px) {
    .header {
        padding: 0.85rem 2rem;
    }
}