.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-00-neutral);

  & .table-section {
    width: 100%;
    padding: 1.5rem 2.5rem;
    overflow-y: auto;
    flex: 1;
  }
}