* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
}

:root {
  --box-shadow-custom: 0px 2px 8px 0px rgba(0, 0, 0, 0.20);
  --font-family-roboto: 'Roboto', sans-serif;
  --background-image-blue-gradient: var(--Blue-primary, linear-gradient(180deg, hsla(215, 45%, 55%, 1) 0%, hsla(245, 59%, 56%, 1) 100%));

  --color-black-neutral: #1C1C1C;
  --color-gray-20-neutral: #9E9E9E;
  --color-gray-10-neutral: #DFDFDF;
  --color-gray-00-neutral: #F0F0F0;
  --color-white-neutral: #FFFFFF;
  --color-black: #1C1C1C;
  --color-gray-20: #9E9E9E;
  --color-gray-10: #DFDFDF;
  --color-gray-00: #F0F0F0;
  --color-white: #FFFFFF;
}
